@import '@patternfly/patternfly/sass-utilities/_all.scss';
@import '@patternfly/patternfly/layouts/Flex/flex.scss';
@import './app/home/components/Card/card';

// shouldn't have to do this, not sure why hidden/visible isn't working
$mig-ui-breakpoint-list: build-breakpoint-map("base", "sm", "md", "lg", "xl", "2xl", "3xl");

.pf-c-data-list {
  @each $breakpoint, $breakpoint-value in $mig-ui-breakpoint-list {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}, "");

    @include pf-apply-breakpoint($breakpoint, $mig-ui-breakpoint-list) {
      // Hide
      .pf-m-hidden#{$breakpoint-name} {
        visibility: hidden;
        display: none;
      }

      .pf-m-visible#{$breakpoint-name} {
        visibility: visible;
        display: flex;
      }
    }
  }
}
